.promo-banner-container .promo-banner-wrapper {
  max-width: unset;
  padding: 0;
}

.promo-banner {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--spacing-md) var(--spacing-md);
}

.promo-banner .promo-banner-content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;
}

.promo-banner .promo-banner-text {
  flex: 1;
  min-width: 200px;
}

.promo-banner .promo-banner-text p {
  margin: 0;
  font-size: var(--body-font-size-m);
}

.promo-banner .promo-banner-image {
  flex: 0 0 auto;
}

.promo-banner .promo-banner-image img {
  max-height: 80px;
  width: auto;
}

.promo-banner .icon {
  width: 32px;
  height: 32px;
  margin-right: var(--spacing-sm);
}

@media (width < 768px) {
  .promo-banner .promo-banner-image {
    display: none;
  }
}
